*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-purpure: #9966cc;
  --main-green: #339966;
  --main-red: #ff0000;
  --main-orange:#cc6600;
  --main-white: #fff;
  --main-black: #000;
}

#nav-bar ul{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  padding: 0 3em;
}

#nav-bar li{
  list-style: none;
  padding: 1em 3em;
}

@media (max-width: 800px){
#nav-bar li {
  display: block;

  }
}

#nav-bar{
  background-color: var(--main-purpure);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid var(--main-red);
}

@media (max-width: 800px){
#nav-bar {
  display: block;
  font-size: .8em;
  }
}

#nav-bar a{
  text-decoration: none;
  font-size: 1.5em;
  color: var(--main-white);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

#nav-bar a:visited{
color: var(--main-white);
}

#nav-bar a:hover{
 background-color: var(--main-orange);
 height: 2em;
 weight:3em;
}

#nav-bar a:active{
 color: var(--main-white);
}

#about{
  background-color:var(--main-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}

h1{
  text-align: center;
  font-size: 3.5em;
  color:var(--main-white);
}

#work{
  background-color:var(--main-black);
  text-align: center;
  padding: 0 auto;
  height: 95vh;
}

@media (max-width: 800px){
#work{
  
  }
}

#center{
  display: grid;
  grid-template-areas:"grid grid";
  grid-gap: 1rem;

}

@media (max-width: 800px){
#center {
  display: grid;
  grid-template-areas:"grid";
    }
}

#grid {
  width: 30%;
  height: 80%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: justify;

}

#grid a{
  text-decoration: none;
}

#project-title{
  background-color:var(--main-green);
  height: 3em;
  margin: 0 auto;
}

#grid #project-title{
  color: var(--main-black);
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
}

#img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 800px){
#img {
  weight: 10em;
  height: 10em;
  }
}

#btn{
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--main-orange);
  margin-top: 3em;
}

#btn a{
  text-decoration: none;
  cursor: pointer;
}

#btn a:hover{
 background-color: var(--main-white);
 height: 40px;
}

#callme{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 2em 2em;
}

#callme a{
  text-decoration: none;
  padding: .5em 2em;
  font-size: 1.8em;
  text-transform: uppercase;
  color:var(--main-black);
  font-size: 1.8em;
  font-weight: bold;
}

#callme a:link{
  color: var(--main-black);
}

 #callme a:visited{
 color: var(--main-black);
}

#callme a:active{
 color: var(--main-purpure);
}

#contact {
  background-color:var(--main-green);
  height: 30vh;
  text-transform: uppercase;
}

#call-img{
  weight:1.5em;
  height: 1.5em;

  }

p{
  text-align: center;
  color:var(--main-black);
  font-size: 1.3em;
  margin-top: .6em;
  font-weight: 800;
  text-transform: uppercase;
}

h2{
  display: block;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2.7em;
  color:var(--main-white);
  text-decoration: underline;
}

h3{
  display: block;
  margin: 0 auto;
  text-align: center;
  color:var(--main-white);
  font-size: 2em;
  font-weight: 800;
  padding-top: .8em;
}

#project-title{
  font-size: 1em;
  color:var(--main-white);
  padding-top: .5em;
  text-transform: none;
  text-decoration: none;
}

footer{
 font-weight: 300;
 padding: 2rem;
 background: var(--main-green);
 border-top: 4px solid var(--main-red);
}

footer p{
 text-align: right;
 color:var(--main-white);
}
